html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fca5a5;
  font-family: "Qdbetter";
  letter-spacing: 1.5px;
}

@font-face {
  font-family: "Qdbetter-bold";
  src: url("../fonts/Qdbetter/Qdbettercomicsansbold-511d8.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Qdbetter";
  src: url("../fonts/Qdbetter/Qdbettercomicsans-jEEeG.ttf");
  font-weight: normal;
  font-style: normal;
}
button {
  border: none;
  border-radius: 50px;
  background: #fca5a5;
  box-shadow: 5px 5px 10px #d68c8c, -5px -5px 10px #ffbebe;
  font-family: "Qdbetter";
  letter-spacing: 1.5px;
}
button:hover {
  cursor: pointer;
  box-shadow: inset 5px 5px 10px #d68c8c, inset -5px -5px 10px #ffbebe;
}
button:disabled {
  box-shadow: inset 5px 5px 10px #d68c8c, inset -5px -5px 10px #ffbebe;
}

#keyboard {
  border-radius: 25px;
  background: #fca5a5;
  box-shadow: inset 25px 25px 50px #d68c8c, inset -25px -25px 50px #ffbebe;
  padding: 20px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 500ms ease-in-out;
  z-index: 2;
}

#modal-content {
  padding: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fca5a5;
}
#modal-content button {
  padding: 15px;
}

h1 {
  font-family: "Qdbetter-bold";
  letter-spacing: 4px;
}

html,
body {
  min-width: 380px;
}

main {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

#game_state, #modal, #modal button {
  font-size: 18px;
}

#keyboard {
  display: grid;
  gap: 5px;
  margin-top: 10px;
  max-width: 600px;
  width: 100%;
}
#keyboard button {
  aspect-ratio: 1/1;
  font-size: 18px;
  width: 9.0909090909%;
}

#hangman {
  display: flex;
  flex: 1;
  position: relative;
}
#hangman svg {
  height: 95%;
  position: absolute;
  top: 10px;
  left: 10px;
}

@media screen and (max-width: 549px) {
  #game_state, #modal, #modal button {
    font-size: 14px;
  }
  #keyboard {
    padding: 15px;
  }
  #keyboard button {
    font-size: 14px;
    width: 8.3333333333%;
  }
  #modal-content {
    width: 90%;
  }
}