#keyboard {
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    button {
        backface-visibility: hidden;
        transition: transform 0.4s;
    }

    button.moved {
        transform: rotateY(360deg);
    }
}

#hangman {
    position: static;
    svg {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}