.grid-container {
    width: 300px;
    grid-template-rows: repeat(3, 1fr);

    button {
        backface-visibility: hidden;
        transition: transform 0.4s;
    }

    button.moved {
        transform: rotateY(360deg);
    }
}

.wrapper {
    position: static;
    svg {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}