main {
    display: grid;
    gap: 15px;
}

#keyboard {
    display: grid;
    gap: 3px;
    grid-template-rows: repeat(3, 1fr);
    width: 610px;

    button {
        margin: 1px;
    }
}

#hangman {
    position: static;

    svg {
        // not every screen will have my screen height
        height: 45vh;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}

@include mobile {

    // smaller buttons for small screens
    #keyboard {
        padding: 15px;
        width: 350px;

        button {
            font-size: 12px;
            height: 25px;
            width: 25px;
        }
    }
}

@include desktop {
    // wide screens different layout? center everything maybe
}