@font-face {
    font-family: 'Qdbetter-bold';
    src: url('../fonts/Qdbetter/Qdbettercomicsansbold-511d8.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qdbetter';
    src: url('../fonts/Qdbetter/Qdbettercomicsans-jEEeG.ttf');
    font-weight: normal;
    font-style: normal;
}